@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4f;
    --cor-botao-hover: #ac7f5d;
    --cor-codeblock:  #363f42;

    --fonte-primaria:  'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
}

header {
  display: flex;
    gap: 80px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 30px 0px 30px 130px;
    text-align: center;
    font-family: var(--fonte-secundaria);
}

header h1 {
  align-self: center;
    margin: 0;
    font-size: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    padding: 10px 0;
    font-family: var(--fonte-secundaria);
}

nav a {
    color: var(--cor-terciaria);
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
  background-color: var(--cor-hover);
  transform: scale(1.1);
  transition: all 0.5s;
}

.quiz-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--cor-primaria);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
}

.quiz-container h2 {
  color: var(--cor-secundaria);
  margin-bottom: 30px;
}

.question {
  color: var(--cor-secundaria);
  padding: 30px 0 10px 0;
}


.quiz-options {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.quiz-option {
  padding: 10px 10px;
  margin: 10px;
  background-color: var(--cor-terciaria);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-option:hover {
  background-color: var(--cor-botao-hover);
  transform: scale(1.07);
  transition: all 0.5s;
}


.question {
  margin-top: 10px;
}

.codeblock {
  display: flex;
  padding: 20px 0 0 0;
  overflow: visible;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  text-align: left;
  justify-content:flex-start;
}

.codeblock pre {
  width: 100%;
  background-color: var(--cor-codeblock);
}

.codeblock code {
  color: var(--cor-secundaria);
  background-color: var(--cor-codeblock);
  counter-reset: line;
  white-space: pre-wrap;
}
